
body {
    font-family: 'Arial', 'Helvetica', sans-serif; 
    font-size: 1em;  
    line-height: 1.5;  
    background-color: #f7f7f7;  
    color: #333333;  
    margin: 0;
    padding: 0;
    text-align: left;

}

#A_Visual {
    color: #2C3E50; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.75em; 
    font-weight: 5250; 
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 2em; 
    padding: 0.5em 1em; 
    background-color: #f7f7f7; 
    border-radius: 0.25em; 
    box-shadow: 0 0.1em 0.8em #0000000d; 
}

#nav_menu {
    position: relative; 
    width: 100%; 
    background-color: #ffffff; /* White background for the navbar */
    padding: 1em 2%; 
    margin: 0; 
    box-shadow: 0 0.125em 0.625em #0000001a; 
}

#nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav_menu ul li {
    display: inline-block;
    margin-right: 2%; 
}

#nav_menu ul li a {
    text-decoration: none;
    color: #333333;  
    font-weight: 525;  
    font-size: 1.125em;  
    transition: color 0.3s ease; 
}

#nav_menu ul li a:hover {
    color: #8E2A47;  
}


@media (max-width: 768px) {
    #nav_menu {
        padding: 1em 4%;
    }

    #nav_menu ul li {
        display: block;  /* Stack the nav items vertically on smaller screens */
        margin-bottom: 1em; 
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2em;
    box-sizing: border-box;
    height: auto;
    width: 50%;
    margin-right: 5%;
}

aside {
    margin: 2em 1.5em;
    width: 40%;
    float: right;
    padding: 1em;
    background-color: #f9f9f9;
    border: 0.25em solid #dcdcdc;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

img {
    display: block;
    margin: auto;
    width: 30%;
    max-width: 100%;
    height: auto;
}

.style {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center    
}

.style-img {
    width: 75%;
    margin-bottom: 1em;
    border-radius: 8px;
    height: 17em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.style img:hover {
    transform: scale(1.5);     /* Scales the image to 120% of its size */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  /* Adds a shadow for emphasis */
}
p {
    text-align: center;    /* Center the text below images */
    font-size: 16px;       /* Adjust the font size */
    max-width: 80%;        /* Optional: Limit the width of the text */
    margin: 0 auto 1em;        /* Center the text */
}