
body {
    font-family: Arial, sans-serif;
    font-size: 100%; 
    background-color: #f0f0f0;
    color: #000000;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;    
}

header {
    padding: 1em;
    margin-bottom: 1em;
    border-top: 0.4em double #0000ff;
    border-bottom: 0.3125em double #0000FF;     
}

#nav_menu ul { list-style-type: none; } /*This is the css for the navigation bar*/
#nav_menu ul li {float: left;}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 22em;
    padding: 0.9375em ;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #DC143C;
    color: white;
    font-weight: bold;
    border-right: 0.125em solid #f0f0f0;
}

#nav_menu ul li a.lastitem {border-right: none;}
#nav_menu ul li a.current { color: yellow;}

main {
    width: 50%;
    float: left;
    margin: 1.5625em 0.9375em;
}

aside {
    margin: 7.8125em 0.9375em;
    width: 35%;
    float: right;
    padding: 0.625em;
    background-color: #ffedcc;
    border: 0.25em groove #0000ff; /* Grooved border */
    border-radius: 0.9375em 0 0 0.9375em; /* Irregular border radius */
    max-height: 100vh;
    
}

img {
    display: block;
    margin: auto;
    width: 30%;
    max-width: 100%;
    height: auto;
}

#A_Visual {
    color: #DC143C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 250%;
    text-align: center;
    margin-top: 1.125em;
     
}

#Follow_the {
    color: 00000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 155%;
    margin-bottom: 1.25em;
}

a {
    color: #0000FF;
    margin: 0.625em 0;
    display: inline-block;
}

a:visited {
    color: #0000FF;
}

.Generic_link {
    text-decoration: underline;
}

section#tips_to_get_started>ul {
    color: #DC143C;
    padding: 1.25em 1em;
}

section#tips_to_get_started > ul > li {
    margin-bottom: 1em; /* Adjust the value for desired space between bullet items */
}

.style {
    list-style-type: none; /* Removes bullets or numbers from aside*/
    padding: 0em; /* Optional: default padding */
    margin: 0em; /* Optional: default margin */
    display: flex;
    flex-direction: column;
    align-items: center    
}

.style img {
    margin:1em 0; /* This is the style for the image, it places a margin between photos*/
    width: 14em; 
    height: auto; /* Maintains aspect ratio */
    max-height: 8em; 
    object-fit: cover;
    max-width: 100%; 
}   /*All of the aside images are scalable*/